<div #scrollMe style="overflow-y: scroll; height: 100vh;">
    <nav class="navbar navbar-expand-lg ">
        <a routerLink="/" routerLinkActive="active"> <strong class="navbar-brand text-light pl-5">
                <h2>E-commerce </h2>
            </strong></a>
        <a class="navbar-brand text-primary">Analyze</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="all">


        <div class="">
            <div class="col-md-12 bg-transparent mb-5">

                <h2><strong>Analyze ADS Performance</strong></h2>

                <p>Are your campaigns ads working for you? Wondering which metrics you should be tracking?
                </p>
                <p>
                    We are Provide you the way to analyze and assess the performance of your ad campaigns, When you’re
                    running social media ad campaigns, it’s interesting to see how much can you be reach and earning
                    before
                    spending your money. The importance of these metrics varies depending on your campaign type and
                    goals.
                    Here in our service we are provide you two kind of senario throught the <a
                        class="font-weight-bold">lead</a> and <a class="font-weight-bold">conversion</a>, In a nutshell,
                    Track the Numbers cost of your campaign, then make the scenario which will become much profit to
                    you.
                </p>

            </div>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="d-flex col-md-12">
                        <div class="col-md-5">
                            <div class="card border-0 bg-light">
                                <div class="card-body">
                                    <h2><strong>Lead :</strong> Senario 1</h2>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationTooltip01">Cost $*</label>
                                            <!-- <input type="text"  id="leadCost" pattern="[0-9]{5}" required>
                                <input name="firstName" ngModel pattern="[a-zA-Z ]*"> -->
                                            <input type="text" formControlName="leadCostform" id="leadCostform"
                                                class="form-control" [(ngModel)]="leadCost">
                                            <div *ngIf="f.leadCostform.touched && f.leadCostform.invalid"
                                                class=" alert alert-danger">
                                                <div *ngIf="f.leadCostform.errors.required">Cost is required.</div>
                                                <div *ngIf="f.leadCostform.errors.pattern">Enter only number.</div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationTooltip02">Budget $*</label>
                                            <input type="text" formControlName="leadBudgetForm" id="leadBudgetForm"
                                                class="form-control" [(ngModel)]="leadBudget">
                                            <div *ngIf="f.leadBudgetForm.touched && f.leadBudgetForm.invalid"
                                                class=" alert alert-danger">
                                                <div *ngIf="f.leadBudgetForm.errors.required">Budget is required.</div>
                                                <div *ngIf="f.leadBudgetForm.errors.pattern">Enter only number.</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">

                                            <label for="validationTooltip01">FB : Orders</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{leadBudget / leadCost | number:'1.0-0'}}">

                                        </div>

                                    </div>


                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationTooltip01">Call : Conf. 50%</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{0.5 * leadBudget /leadCost | number:'1.0-0' }}">

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationTooltip02">Call : Conf. 30%</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{0.3 * leadBudget / leadCost | number:'1.0-0'}}">

                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6 ">
                                            <label for="validationTooltip01">Cost $ Conf. 50%</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{leadBudget / (0.5 * leadBudget /leadCost )| number:'1.0-2'}}">

                                        </div>
                                        <div class="col-md-6 ">
                                            <label for="validationTooltip02">Cost $ Conf. 30%</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{leadBudget / (0.3 * leadBudget /leadCost  ) | number:'1.0-2'}}">

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="card border-0 bg-light">
                                <div class="card-body">
                                    <h2><strong>Conversion :</strong> Senario 2 </h2>

                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationTooltip01">Cost $</label>
                                            <input type="text" formControlName="conversionCostform"
                                                id="conversionCostform" class="form-control"
                                                [(ngModel)]="conversionCost">
                                            <div *ngIf="f.conversionCostform.touched && f.conversionCostform.invalid"
                                                class=" alert alert-danger">
                                                <div *ngIf="f.conversionCostform.errors.required">Cost is required.
                                                </div>
                                                <div *ngIf="f.conversionCostform.errors.pattern">Enter only number.
                                                </div>

                                            </div>
                                            <!-- <input type="text" class="form-control" [(ngModel)]="conversionCost"
                                        pattern="^\d*\.?\d+$" id="conversionCost" required>
                                         -->

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationTooltip02">Budget $</label>
                                            <!-- <input type="text" class="form-control" [(ngModel)]="conversionBudget"
                                        id="conversionBudget" required> -->
                                            <input type="text" formControlName="conversionBudgetform"
                                                id="conversionBudgetform" class="form-control"
                                                [(ngModel)]="conversionBudget">
                                            <div *ngIf="f.conversionBudgetform.touched && f.conversionBudgetform.invalid"
                                                class=" alert alert-danger">
                                                <div *ngIf="f.conversionBudgetform.errors.required">Cost is required.
                                                </div>
                                                <div *ngIf="f.conversionBudgetform.errors.pattern">Enter only number.
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationTooltip01">FB : Orders</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{conversionBudget/conversionCost | number:'1.0-0'}}">
                                            <!-- pattern="(?<!\S)(\d*\.?\d+|\d{1,3}(,\d{3})*(\.\d+)?)(?!\S)"> -->

                                        </div>

                                    </div>


                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationTooltip01">Call : Conf. 50%</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{0.5 * conversionBudget /conversionCost | number:'1.0-0' }}">

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationTooltip02">Call : Conf. 30%</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{0.3 * conversionBudget /conversionCost | number:'1.0-0' }}">

                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6 ">
                                            <label for="validationTooltip01">Cost $ Conf. 50%</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{conversionBudget / (0.5 * conversionBudget /conversionCost  ) | number:'1.0-2'}}">

                                        </div>
                                        <div class="col-md-6 ">
                                            <label for="validationTooltip02">Cost $ Conf. 30%</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{conversionBudget / (0.3 * conversionBudget /conversionCost  ) | number:'1.0-2'}}">

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="card border-0 bg-light" style="height: 100%;">
                                <div class="card-body d-flex  justify-content-between  flex-column">
                                    <h2><strong>Details </strong></h2>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationTooltip01">Charge Fix</label>
                                            <input type="text" formControlName="charegFix" id="charegFix"
                                                class="form-control">
                                            <div *ngIf="f.charegFix.touched && f.charegFix.invalid"
                                                class=" alert alert-danger">
                                                <div *ngIf="f.charegFix.errors.required">Charge Fix is required.</div>
                                                <div *ngIf="f.charegFix.errors.pattern">Enter only number.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationTooltip02">Sales</label>
                                            <input type="text" formControlName="salesPrice" class="form-control"
                                                id="salesPrice">
                                            <div *ngIf="f.salesPrice.touched && f.salesPrice.invalid"
                                                class=" alert alert-danger">
                                                <div *ngIf="f.salesPrice.errors.required">Sale price is required.</div>
                                                <div *ngIf="f.salesPrice.errors.pattern">Enter only number.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 ">
                                            <br> <button type="submit" di
                                                class="btn btn-primary btn-lg btn-block">GO</button>

                                        </div>
                                    </div>







                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- <div class="col mb-12">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip01">Charge Fix</label>
                                <input type="text" formControlName="charegFix" id="charegFix" class="form-control">
                                <div *ngIf="f.charegFix.touched && f.charegFix.invalid" class=" alert alert-danger">
                                    <div *ngIf="f.charegFix.errors.required">Charge Fix is required.</div>
                                    <div *ngIf="f.charegFix.errors.pattern">Enter only number.</div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationTooltip02">Sales</label>
                                <input type="text" formControlName="salesPrice" class="form-control" id="salesPrice">
                                <div *ngIf="f.salesPrice.touched && f.salesPrice.invalid" class=" alert alert-danger">
                                    <div *ngIf="f.salesPrice.errors.required">Sale price is required.</div>
                                    <div *ngIf="f.salesPrice.errors.pattern">Enter only number.</div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <br> <button type="submit" di class="btn btn-primary btn-lg btn-block">GO</button>
                            </div>

                        </div>

                    </div>
                </div>


            </div> -->
            </form>

            <div class="col-md-12 bg-transparent" [hidden]="!isShown">
                <hr>
                <strong class="text-center">
                    <h1>Your-results</h1>
                </strong>
                <div class="bg-light p-2">
                    <div class="d-flex">
                        <div class="col-md-12">
                            <table class="table text-center">
                                <tr>
                                    <td rowspan="0" class="border-0"></td>
                                    <th class=" border-0  text-center m-0 p-0" colspan="6">
                                        <div class="progress bg-white ">
                                            <div class="text-dark progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="25" style="width: 25%;background-color:#FBFF00">25%</div>
                                            <div class="text-dark progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="25" style="width: 25%;background-color:#FFD600">15%</div>
                                            <div class="text-dark progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="25" style="width: 25%;background-color:#FFC11E">15%</div>
                                            <div class="text-dark progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="25" style="width: 25%;background-color:#F85C50">9%</div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <!-- <td rowspan="0" class="border-0"></td> -->
                                    <th class=" bg-light text-center " colspan="6">
                                        <h3>Lead</h3>
                                    </th>
                                </tr>
                                <col class="border-0">
                                <colgroup span="2"></colgroup>
                                <colgroup span="2"></colgroup>

                                <tr>
                                    <td rowspan="2" class="border-0"></td>
                                    <th style="background-color:#BEF761" colspan="2" scope="colgroup">Confirmation 50%
                                    </th>
                                    <th style="background-color:#FFC11E" colspan="2" scope="colgroup">Confirmation 30%
                                    </th>
                                </tr>

                                <tr class="bg-light">
                                    <th scope="col">Delivered 50%</th>
                                    <th scope="col">Delivered 30%</th>
                                    <th scope="col">Delivered 50%</th>
                                    <th scope="col">Delivered 30%</th>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#CBE724">Delivered</th>
                                    <td>{{Conf50Dev50Output.toFixed(0)}}</td>
                                    <td>{{Conf50Dev30Output.toFixed(0)}}</td>
                                    <td>{{Conf30Dev50Output.toFixed(0)}}</td>
                                    <td>{{Conf30Dev30Output.toFixed(0)}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#A7E541">C.P.Delivered$ </th>
                                    <td>{{Conf50CP50Output.toFixed(2)}}</td>
                                    <td>{{Conf50CP30Output.toFixed(2)}}</td>
                                    <td>{{Conf30CP50Output.toFixed(2)}}</td>
                                    <td>{{Conf30CP30Output.toFixed(2)}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#BEF761">Result$ </th>
                                    <td [style.background-color]="Conf50Dev50Profit >= 0 ? '#15ff00' : '#e42121'">
                                        {{Conf50Dev50Profit.toFixed(2)}}</td>
                                    <td [style.background-color]="Conf50Dev30Profit >= 0 ? '#15ff00' : '#e42121'">
                                        {{Conf50Dev30Profit.toFixed(2)}}</td>
                                    <td [style.background-color]="Conf30Dev50Profit >= 0 ? '#15ff00' : '#e42121'">
                                        {{Conf30Dev50Profit.toFixed(2)}}</td>
                                    <td [style.background-color]="Conf30Dev30Profit >= 0 ? '#15ff00' : '#e42121'">
                                        {{Conf30Dev30Profit.toFixed(2)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="mb-5">
                    <hr>
                    <div class="d-flex">
                        <div class="col-md-12">
                            <table class="table text-center">
                                <tr>
                                    <td rowspan="0" class="border-0"></td>
                                    <th class=" border-0  text-center m-0 p-0" colspan="6">
                                        <div class="progress bg-white ">
                                            <div class="text-dark progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="25" style="width: 25%;background-color:#FBFF00">25%</div>
                                            <div class="text-dark progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="25" style="width: 25%;background-color:#FFD600">15%</div>
                                            <div class="text-dark progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="25" style="width: 25%;background-color:#FFC11E">15%</div>
                                            <div class="text-dark progress-bar progress-bar-striped progress-bar-animated"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="25" style="width: 25%;background-color:#F85C50">9%</div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <!-- <td rowspan="0" class="border-0"></td> -->
                                    <th class=" bg-light text-center " colspan="6">
                                        <h3>Conversion</h3>
                                    </th>
                                </tr>
                                <col class="border-0">
                                <colgroup span="2"></colgroup>
                                <colgroup span="2"></colgroup>

                                <tr>
                                    <td rowspan="2" class="border-0"></td>
                                    <th style="background-color:#BEF761" colspan="2" scope="colgroup">Confirmation 50%
                                    </th>
                                    <th style="background-color:#FFC11E" colspan="2" scope="colgroup">Confirmation 30%
                                    </th>
                                </tr>

                                <tr class="bg-light">
                                    <th scope="col">Delivered 50%</th>
                                    <th scope="col">Delivered 30%</th>
                                    <th scope="col">Delivered 50%</th>
                                    <th scope="col">Delivered 30%</th>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#CBE724">Delivered</th>
                                    <td>{{ConvConf50Dev50Output.toFixed(0)}}</td>
                                    <td>{{ConvConf50Dev30Output.toFixed(0)}}</td>
                                    <td>{{ConvConf30Dev50Output.toFixed(0)}}</td>
                                    <td>{{ConvConf30Dev30Output.toFixed(0)}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#A7E541">C.P.Delivered$ </th>
                                    <td>{{ConvConf50CP50Output.toFixed(2)}}</td>
                                    <td>{{ConvConf50CP30Output.toFixed(2)}}</td>
                                    <td>{{ConvConf30CP50Output.toFixed(2)}}</td>
                                    <td>{{ConvConf30CP30Output.toFixed(2)}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#BEF761">Result$ </th>
                                    <td [style.background-color]="ConvConf50Dev50Profit >= 0 ? '#15ff00' : '#e42121'">
                                        {{ConvConf50Dev50Profit.toFixed(2)}}</td>
                                    <td [style.background-color]="ConvConf50Dev30Profit >= 0 ? '#15ff00' : '#e42121'">
                                        {{ConvConf50Dev30Profit.toFixed(2)}}</td>
                                    <td [style.background-color]="ConvConf30Dev50Profit >= 0 ? '#15ff00' : '#e42121'">
                                        {{ConvConf30Dev50Profit.toFixed(2)}}</td>
                                    <td [style.background-color]="ConvConf30Dev30Profit >= 0 ? '#15ff00' : '#e42121'">
                                        {{ConvConf30Dev30Profit.toFixed(2)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    
</div>
<!-- <label>
        Name:
        <input type="text" pattern="^\d*\.?\d+$" [formControl]="name">
        <input type="text" [formControl]="name1">
      </label>

      <p >
        Value: {{ name.value * name1.value | number:'1.0-0'}}
        <input type="text" name="dd" id="dd" value="{{ name.value * name1.value | number:'1.0-0'}}" pattern="/\B(?=(\d{3})+(?!\d))/g">
      </p>
      <p>
        <button (click)="updateName()">Update Name</button>
      </p> -->